.button{
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #5E3C32;
  color: #FFFFFF;
  border-radius: 20px;
  outline: none;
  border: none;
}