.header{
  height: 100px;
  background: var(--primary-color);

    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  .header__wrapper{
    display: flex;
      align-items: center; 
      justify-content: space-between;
    width: 75%; 
    height: 100%;
  
    margin: 0 auto;
    img{
      width: 196px;
      height: 66px;
    }
    .header__btn{
      width: 256px;
      height: 64px;
      font-size: 24px;
      font-weight: 400;
    }
    ul{
      display: flex;
      gap: 92px;
      li{
        a {
          color: #202020;
          font-size: 24px;
        }
      }
    }
  }

}
  @media screen and (max-width: 1024px){
    .header{
     
  .header__wrapper{
    width: 90%;
      ul{
        display: none;
      }
    }
    }
  

  }
   @media screen and (max-width: 768px) {
    .header{
      height: 80px;
      .header__wrapper{
        img{
          width: 113px;
          height: 38px;
        }
        .header__btn{
          width: 184px;
          height: 42px;
          font-size: 16px;
        }
      }
    }
   }