* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
 
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'Dancing Script';
  src: url('/src/assets/fonts/DancingScript-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary-color: #efe5db;
  --secondary-color: #222222;
  --background: #ffffff;
}

.wrapper {
  width: 100%;
  height: fit-content;
  background: var(--primary-color);
}
