.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;

  &__content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    animation: zoomIn 0.3s ease-in-out;
    cursor: default;
 

    display: flex;
    flex-direction: column;
  

    img {
      width: 200px;
      height: auto;
      margin: 10px;
      object-fit: cover;
      transition: all 300ms;
    }

    h4 {
      font-size: 34px;
      margin-top: 20px;
    }

    h5 {
      font-size: 24px;
      margin-top: 10px;
    }

    p {
      font-size: 26px;
      font-weight: bold;
      margin-top: 10px;
    }
    .overlay__images {
      display: flex;
      gap: 10px;
      height: 700px;

      .overlay__images-main {
        width: 100%;
       height: 700px;
        img {
          width: 100%;
            height: 700px;
          object-fit: cover;
          border-radius: 8px;
          transition: all 0.3s ease;
        }
      }
      .overlay__images-secondary {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        img{
          width:100%;
        height: 403px;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.3s ease;
    &:nth-child(2){
      height: 260px;
    }
        }
      }
    }
    .overlay__info{
      display: flex;
      align-items: center;
      justify-content: space-between;

      h4{
        font-size: 52px;
        font-weight: 400;
      }
      p{
        font-size: 32px;
        font-weight: 400
      }
    }
  }

  @media screen and (max-width: 900px) {
    
    .overlay__content {
      background: #fff;
      padding: 15px;
      border-radius: 10px;
      max-width: fit-content;
      max-height: 90%;
      overflow-y: auto;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      animation: zoomIn 0.3s ease-in-out;
      cursor: default;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .overlay__images{
        flex-direction: column;
        height: fit-content;
        padding-right: 20px;
        .overlay__images-main{
          height: 300px;
          img{
            height: 300px;
          }
        }
        .overlay__images-secondary {
          img{
            height: 300px;
          }
        }
      }
      .overlay__info{
        width: 100%;
        align-items: baseline;
        h4{
          font-size: 23px;

        }
        p{
          font-size: 20px;
        }
      }
    }
  }
}

// Анимация увеличения
@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.collection {
  padding-top: 83px;
  .collection__wrapper {
    width: 90%;
    margin: 0 auto;
    h3 {
      text-align: center;
      font-size: 41px;
      font-weight: 400;
      font-family: 'Dancing Script', sans-serif;
    }
    h2 {
      text-align: center;
      font-size: 48px;
      font-weight: bold;
      color: rgba(94, 60, 50, 1);
      text-transform: uppercase;
      margin-top: 10px;
    }
    .collection__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
      width: 100%;
      overflow-x: scroll;
      margin: 0 auto;
      margin-top: 54px;
      gap: 30px;
      &::-webkit-scrollbar {
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      .collection__item {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        transition: all 300ms;
        position: relative;

        // обёртка для 3 изображений
        .collection__images {
          display: flex;
          gap: 10px;

          // блок с основной (первой) картинкой
          &-main {
            width: 100%;
            img {
              max-width: 361px;
              height: 510px;
              object-fit: cover;
              border-radius: 8px;
              transition: all 0.3s ease;
            }
          }

          // блок с двумя картинками
          &-secondary {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            img {
              max-width: 192px;
              height: 288px;
              object-fit: cover;
              border-radius: 8px;
              transition: all 0.3s ease;
              &:nth-child(2) {
                height: 206px;
              }
            }
          }
        }

        h4 {
          font-size: 34px;
          font-weight: 400;
          margin-top: 16px;
        }

        h5 {
          font-size: 24px;
          color: rgba(34, 34, 34, 1);
          font-weight: 400;
          margin-top: 32px;
        }

        p {
          color: rgba(34, 34, 34, 1);
          font-weight: bold;
          font-weight: 400;
          font-size: 24px;
          margin-top: 16px;
          margin-bottom: 25px;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .collection {
    .collection__wrapper {
      h2 {
        font-size: 32px;
      }
      h3 {
        font-size: 35px;
      }
      .collection__items {
        padding-left: 20px;
        .collection__item{
          .collection__images{
            .collection__images-main{
              img{
                width: 218px;
                height: 309px;
              }
            }
            .collection__images-secondary{
              img{
                width: 116px;
                height: 174px;
                &:nth-child(2){
                  height: 124px;
                }
              }

            }

          }
          h4{
            font-size: 22px;
          }
          p{
            font-size: 18px;
          }
        }
      }
      // .collection__items {
      //   .collection__item {
      //     img {
      //       height: 370px;
      //     }
      //     h5 {
      //       font-size: 20px;
      //     }
      //     h4 {
      //       font-size: 30px;
      //     }
      //     p {
      //       font-size: 20px;
      //     }
      //   }
      // }
    }
  }
}
@media screen and (max-width: 768px) {
  .collection {
    .collection__wrapper {
      width: 100%;
      h3 {
        font-size: 27px;
      }
      // .collection__items {
      //   padding-left: 20px;
      //   gap: 40px;
      //   overflow: scroll;
      //   .collection__item {
      //     width: 315px;
      //     img {
      //       width: 280px;
      //     }
      //   }
      // }
      
    }
  }
}
